.hero {
  padding: 75px 0 0;
  margin-bottom: 75px;
  position: relative;

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 0.9;
    margin-bottom: 25px;

    @include media-tablet {
      font-size: 60px;
    }

    @include media-mobile {
      font-size: 38px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;

    @include media-mobile {
      font-size: 16px;
    }
  }

  &__image {
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }

  &__logos {
    margin-top: -100px;
    max-width: 1090px;

    @include media-mobile {
      margin-top: -30px;
    }
  }

  &__logos-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.37;
    text-align: center;
    color: $colorGrey;
    margin-bottom: 45px;
  }

  &__logos-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 70px;

    @include media-laptop {
      gap: 20px;
    }
  }

  &__logos-item-image, &__logos-item, &__logos-item img {
    max-width: 180px;
    max-height: 42px;

    @include media-tablet {
      max-width: 130px;
    }
  }

}

.section-awards {
  padding-bottom: 80px;

  &__inner {
    max-width: 1140px;
    padding: 48px 80px;
    margin: auto;
    background-color: $colorBlueExtraLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 24px;

    @include media-laptop {
      flex-direction: column;
      gap: 40px;
    }

    @include media-mobile {
      padding: 30px 20px;
    }
  }

  .headline {
    max-width: 310px;
    width: 100%;
    margin-left: 0;

    @include media-laptop {
      margin: auto;
    }
  }

  .main-title {
    margin-bottom: 25px;
  }

  .main-title, .subtitle {
    text-align: left;

    @include media-laptop {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 100px;

    @include media-laptop {
      justify-content: center;
      gap: 20px;
    }
  }

  &__item-image {
    max-width: 114px;
    width: 100%;

    @include media-mobile {
      max-width: 100px;
    }
  }

}

.section-interactive {
  &__list {
    position: relative;
  }


  &__item:not(:last-child) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__item {
    height: 100vh;
    padding: 8.5vh 0 40px;

    @include media-height-desk-large {
      //height: 60vh;
    }
  }

  .headline {
    margin-bottom: 50px;

    @include media-height-desk-extra-low {
      margin-bottom: 20px;
    }
  }

  &__item-image {
    max-width: 870px;
    width: 100%;
    margin: auto;
    line-height: 0;
  }

  &__item-image img {
    object-fit: contain;
    //min-height: 68vh;
    position: relative;
    z-index: 1;

    @include media-height-desk-low {
      height: 65vh;
    }
  }

  &__item-inner {
    position: relative;
  }

  &__item-bg {
    width: 100%;
    height: 60%;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include media-height-desk-low {
      height: 45%;
    }

    @include media-height-desk-extra-low {
      max-width: 140vh;
      margin: auto;
    }
  }

  .subtitle {
    max-width: 520px;
    margin: auto;
  }
}
