@import "variables";
@import "reset";
@import "fonts";
@import "footer";
@import "main";
@import "header";
@import "home";

a {
  @include media-mobile {
    margin: 100px;
    min-height: 100px;
    display: block;
  }
}